*.sublime-project
*.sublime-workspace
.project
.pydevproject
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.buildpath
assets/**
requirements
composer.phar
smartclient
protected/config/main.php
protected/config/test.php
protected/config/console.php
protected/runtime/*
~*
templates/*
templates_c/*